@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-dismissible mb-4 p-4 d-flex alert-soft-success-message" role="alert">
        <div class="me-4 d-none d-md-block">
            <i class="feather feather-check-circle fs-1"></i>
        </div>
        <div>
            <p class="fw-bold mb-1 text-truncate-1-line">@Html.T("عملية ناجحة!", "Success!")</p>
            <p class="fs-12 fw-medium text-truncate-1-line">@TempData["SuccessMessage"]</p>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="@Html.T("إغلاق", "Close")"></button>
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-dismissible mb-4 p-4 d-flex alert-soft-danger-message" role="alert">
        <div class="me-4 d-none d-md-block">
            <i class="feather feather-alert-octagon fs-1"></i>
        </div>
        <div>
            <p class="fw-bold mb-1 text-truncate-1-line">@Html.T("حدث خطأ!", "An error occurred!")</p>
            <p class="fs-12 fw-medium text-truncate-1-line">@TempData["ErrorMessage"]</p>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="@Html.T("إغلاق", "Close")"></button>
    </div>
}

@if (TempData["WarningMessage"] != null)
{
    <div class="alert alert-dismissible mb-4 p-4 d-flex alert-soft-warning-message" role="alert">
        <div class="me-4 d-none d-md-block">
            <i class="feather feather-alert-triangle fs-1"></i>
        </div>
        <div>
            <p class="fw-bold mb-1 text-truncate-1-line">@Html.T("تحذير!", "Warning!")</p>
            <p class="fs-12 fw-medium text-truncate-1-line">@TempData["WarningMessage"]</p>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="@Html.T("إغلاق", "Close")"></button>
    </div>
}

@if (TempData["InfoMessage"] != null)
{
    <div class="alert alert-dismissible mb-4 p-4 d-flex alert-soft-teal-message" role="alert">
        <div class="me-4 d-none d-md-block">
            <i class="feather feather-info fs-1"></i>
        </div>
        <div>
            <p class="fw-bold mb-1 text-truncate-1-line">@Html.T("معلومة", "Information")</p>
            <p class="fs-12 fw-medium text-truncate-1-line">@TempData["InfoMessage"]</p>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="@Html.T("إغلاق", "Close")"></button>
    </div>
}

