@model List<LMS.Helpers.BreadcrumbItem>

@if (Model != null && Model.Any())
{
    <nav aria-label="breadcrumb" class="mb-3">
        <ol class="breadcrumb bg-transparent p-0 mb-0">
            @foreach (var item in Model)
            {
                @if (item.IsActive || string.IsNullOrEmpty(item.Url))
                {
                    <li class="breadcrumb-item active" aria-current="page">
                        @if (!string.IsNullOrEmpty(item.Icon))
                        {
                            <i class="@item.Icon me-1"></i>
                        }
                        @item.Title
                    </li>
                }
                else
                {
                    <li class="breadcrumb-item">
                        <a href="@item.Url" class="text-decoration-none">
                            @if (!string.IsNullOrEmpty(item.Icon))
                            {
                                <i class="@item.Icon me-1"></i>
                            }
                            @item.Title
                        </a>
                    </li>
                }
            }
        </ol>
    </nav>
}

