@using LMS.Areas.Admin.Controllers
@{
    ViewData["Title"] = Html.T("تفضيلات الإشعارات", "Notification preferences");
    var breadcrumbs = new List<(string Name, string? Url)>
    {
        (Html.T("الإعدادات", "Settings"), Url.Action("Index", "Settings")),
        (Html.T("تفضيلات الإشعارات", "Notification preferences"), null)
    };
    ViewData["Breadcrumbs"] = breadcrumbs;
    
    var settings = ViewBag.GlobalSettings as GlobalNotificationPreferencesViewModel ?? new GlobalNotificationPreferencesViewModel();
}

@await Html.PartialAsync("_PageHeader")

<div class="main-content">
    <form asp-action="Index" method="post">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-title">@Html.T("إشعارات الطلاب", "Student notifications")</h5>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>@Html.T("نوع الإشعار", "Notification type")</th>
                                    <th class="text-center">@Html.T("البريد", "Email")</th>
                                    <th class="text-center">@Html.T("الرسائل النصية", "SMS")</th>
                                    <th class="text-center">@Html.T("داخل المنصة", "In-app")</th>
                                    <th class="text-center">@Html.T("الإشعارات الفورية", "Push")</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.T("تسجيل في دورة", "Course enrollment")</td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentEnrollmentEmail" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentEnrollmentEmail" value="true" @(settings.StudentEnrollmentEmail ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentEnrollmentSms" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentEnrollmentSms" value="true" @(settings.StudentEnrollmentSms ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentEnrollmentInApp" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentEnrollmentInApp" value="true" @(settings.StudentEnrollmentInApp ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentEnrollmentPush" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentEnrollmentPush" value="true" @(settings.StudentEnrollmentPush ? "checked" : "")>
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.T("حصة مباشرة", "Live session")</td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentLiveClassEmail" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentLiveClassEmail" value="true" @(settings.StudentLiveClassEmail ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentLiveClassSms" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentLiveClassSms" value="true" @(settings.StudentLiveClassSms ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentLiveClassInApp" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentLiveClassInApp" value="true" @(settings.StudentLiveClassInApp ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentLiveClassPush" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentLiveClassPush" value="true" @(settings.StudentLiveClassPush ? "checked" : "")>
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.T("تذكير بالدرس", "Lesson reminder")</td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentReminderEmail" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentReminderEmail" value="true" @(settings.StudentReminderEmail ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentReminderSms" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentReminderSms" value="true" @(settings.StudentReminderSms ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentReminderInApp" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentReminderInApp" value="true" @(settings.StudentReminderInApp ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentReminderPush" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentReminderPush" value="true" @(settings.StudentReminderPush ? "checked" : "")>
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.T("إكمال دورة", "Course completion")</td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentCompletionEmail" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentCompletionEmail" value="true" @(settings.StudentCompletionEmail ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentCompletionSms" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentCompletionSms" value="true" @(settings.StudentCompletionSms ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentCompletionInApp" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentCompletionInApp" value="true" @(settings.StudentCompletionInApp ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentCompletionPush" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentCompletionPush" value="true" @(settings.StudentCompletionPush ? "checked" : "")>
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.T("شهادة جديدة", "New certificate")</td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentCertificateEmail" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentCertificateEmail" value="true" @(settings.StudentCertificateEmail ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentCertificateSms" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentCertificateSms" value="true" @(settings.StudentCertificateSms ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentCertificateInApp" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentCertificateInApp" value="true" @(settings.StudentCertificateInApp ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentCertificatePush" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentCertificatePush" value="true" @(settings.StudentCertificatePush ? "checked" : "")>
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.T("رد على تعليق", "Comment reply")</td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentCommentReplyEmail" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentCommentReplyEmail" value="true" @(settings.StudentCommentReplyEmail ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentCommentReplySms" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentCommentReplySms" value="true" @(settings.StudentCommentReplySms ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentCommentReplyInApp" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentCommentReplyInApp" value="true" @(settings.StudentCommentReplyInApp ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="StudentCommentReplyPush" value="false" />
                                        <input type="checkbox" class="form-check-input" name="StudentCommentReplyPush" value="true" @(settings.StudentCommentReplyPush ? "checked" : "")>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-title">@Html.T("إشعارات المدربين", "Instructor notifications")</h5>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>@Html.T("نوع الإشعار", "Notification type")</th>
                                    <th class="text-center">@Html.T("البريد", "Email")</th>
                                    <th class="text-center">@Html.T("داخل المنصة", "In-app")</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.T("تسجيل طالب جديد", "New student enrollment")</td>
                                    <td class="text-center">
                                        <input type="hidden" name="InstructorNewStudentEmail" value="false" />
                                        <input type="checkbox" class="form-check-input" name="InstructorNewStudentEmail" value="true" @(settings.InstructorNewStudentEmail ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="InstructorNewStudentInApp" value="false" />
                                        <input type="checkbox" class="form-check-input" name="InstructorNewStudentInApp" value="true" @(settings.InstructorNewStudentInApp ? "checked" : "")>
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.T("تقييم جديد", "New review")</td>
                                    <td class="text-center">
                                        <input type="hidden" name="InstructorNewReviewEmail" value="false" />
                                        <input type="checkbox" class="form-check-input" name="InstructorNewReviewEmail" value="true" @(settings.InstructorNewReviewEmail ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="InstructorNewReviewInApp" value="false" />
                                        <input type="checkbox" class="form-check-input" name="InstructorNewReviewInApp" value="true" @(settings.InstructorNewReviewInApp ? "checked" : "")>
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.T("سؤال من طالب", "Question from student")</td>
                                    <td class="text-center">
                                        <input type="hidden" name="InstructorQuestionEmail" value="false" />
                                        <input type="checkbox" class="form-check-input" name="InstructorQuestionEmail" value="true" @(settings.InstructorQuestionEmail ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="InstructorQuestionInApp" value="false" />
                                        <input type="checkbox" class="form-check-input" name="InstructorQuestionInApp" value="true" @(settings.InstructorQuestionInApp ? "checked" : "")>
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.T("موعد دفع", "Payment due")</td>
                                    <td class="text-center">
                                        <input type="hidden" name="InstructorPaymentEmail" value="false" />
                                        <input type="checkbox" class="form-check-input" name="InstructorPaymentEmail" value="true" @(settings.InstructorPaymentEmail ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="InstructorPaymentInApp" value="false" />
                                        <input type="checkbox" class="form-check-input" name="InstructorPaymentInApp" value="true" @(settings.InstructorPaymentInApp ? "checked" : "")>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">@Html.T("إشعارات المسؤولين", "Admin notifications")</h5>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>@Html.T("نوع الإشعار", "Notification type")</th>
                                    <th class="text-center">@Html.T("البريد", "Email")</th>
                                    <th class="text-center">@Html.T("داخل المنصة", "In-app")</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>@Html.T("مستخدم جديد", "New user")</td>
                                    <td class="text-center">
                                        <input type="hidden" name="AdminNewUserEmail" value="false" />
                                        <input type="checkbox" class="form-check-input" name="AdminNewUserEmail" value="true" @(settings.AdminNewUserEmail ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="AdminNewUserInApp" value="false" />
                                        <input type="checkbox" class="form-check-input" name="AdminNewUserInApp" value="true" @(settings.AdminNewUserInApp ? "checked" : "")>
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.T("دورة جديدة (للمراجعة)", "New course (for review)")</td>
                                    <td class="text-center">
                                        <input type="hidden" name="AdminNewCourseEmail" value="false" />
                                        <input type="checkbox" class="form-check-input" name="AdminNewCourseEmail" value="true" @(settings.AdminNewCourseEmail ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="AdminNewCourseInApp" value="false" />
                                        <input type="checkbox" class="form-check-input" name="AdminNewCourseInApp" value="true" @(settings.AdminNewCourseInApp ? "checked" : "")>
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.T("دفعة جديدة", "New payment")</td>
                                    <td class="text-center">
                                        <input type="hidden" name="AdminNewPaymentEmail" value="false" />
                                        <input type="checkbox" class="form-check-input" name="AdminNewPaymentEmail" value="true" @(settings.AdminNewPaymentEmail ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="AdminNewPaymentInApp" value="false" />
                                        <input type="checkbox" class="form-check-input" name="AdminNewPaymentInApp" value="true" @(settings.AdminNewPaymentInApp ? "checked" : "")>
                                    </td>
                                </tr>
                                <tr>
                                    <td>@Html.T("طلب استرداد", "Refund request")</td>
                                    <td class="text-center">
                                        <input type="hidden" name="AdminRefundRequestEmail" value="false" />
                                        <input type="checkbox" class="form-check-input" name="AdminRefundRequestEmail" value="true" @(settings.AdminRefundRequestEmail ? "checked" : "")>
                                    </td>
                                    <td class="text-center">
                                        <input type="hidden" name="AdminRefundRequestInApp" value="false" />
                                        <input type="checkbox" class="form-check-input" name="AdminRefundRequestInApp" value="true" @(settings.AdminRefundRequestInApp ? "checked" : "")>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-header">
                        <h5 class="card-title">@Html.T("إجراءات", "Actions")</h5>
                    </div>
                    <div class="card-body">
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">
                                <i class="feather-save me-2"></i>
                                حفظ التفضيلات
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">@Html.T("ملاحظات", "Notes")</h5>
                    </div>
                    <div class="card-body">
                        <p class="text-muted small mb-2">
                            <i class="feather-info me-1"></i>
                            هذه الإعدادات تحدد الإشعارات الافتراضية لجميع المستخدمين.
                        </p>
                        <p class="text-muted small mb-0">
                            <i class="feather-alert-triangle me-1"></i>
                            يمكن للمستخدمين تخصيص إشعاراتهم من حساباتهم الشخصية.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
